.swiper-button-prev:after,
.swiper-button-next:after {
  color: rgba(255, 255, 255, 0.7);
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  line-height: 40px;
  text-align: center;
}

@media (min-width: 768px) {
  .swiper-button-next {
    right: 25px !important;
  }
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
